@import '../../assets/scss/_variable.scss';

.cart-area {
  @include cn-list-content();

  .cart-step-content {
    font-family: $font-family-cn-main;
    display: flex;
    justify-content: space-between;
    text-align: center;

    .cart-step {
      border: 1px solid transparent;
      background: $color-border-gray;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: $space-2;
      // padding: 0px;
      &.active {
        background: $color-font-gold;
        color: $color-bg-block;
        font-family: $font-family-cn-main;
        font-weight: $font-weight-bold;
      }

      .step-left {
        margin-right: $space-3;
        width: fit-content;
        font-size: var(--fs-cn-page-type1-menu);
      }
      .step-right {
        font-family: $font-family-cn-main;
        font-weight: $font-weight-bold;
        width: fit-content;
        font-size: var(--fs-en-page-type1-content);
      }
    }
  }

  .cart-add-info-bg-square {
    width: 100%;
    height: 100%;
    background-color: $color-bg-block;
    position: absolute;
  }

  .shopping-cart-area {
    // width: 100%;

    .shopping-cart-bg {
      width: 100%;

      background-color: $color-bg-light;
      padding: $space-2;

      .shopping-cart-info {
        font-size: var(--fs-cn-page-type1-menu);
      }
      .cart-prd-content {
        @include cn-list-content();
        width: 100%;
        margin: -5px;
        .cart-prd-name {
          margin-top: 0.5rem;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          min-height: 3.5rem;
        }
        .cart-prd-price {
          font-family: $font-family-cn-main;
        }
      }

      .cart-prd-number-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cart-prd-number {
          width: 80%;
        }
        .prd-number {
          width: 60%;
        }
        .prd-plus {
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .prd-minus {
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .shopping-cart-area {
      width: 100%;
      background: $color-bg-light;
      padding: $space-2;

      .shopping-cart-check-content {
        width: 50%;
        margin-left: $space-2;
      }
    }
    .shopping-cart-info-subtitle {
      font-family: $font-family-cn-main;
      margin-top: 5rem;
      margin-bottom: 2rem;
    }

    .cart-prd-info-content {
      width: 100%;
      padding: 1rem 0;
      border-bottom: 1px solid #fff;

      .cart-prd-img {
        width: 100%;
        height: 10rem;
        img {
          width: 100%;
          height: 10rem;
          object-fit: contain;
        }
      }
      .cart-prd-name {
        overflow: hidden;
        margin-bottom: 1rem;
      }
      .cart-prd-number {
        width: 100%;
      }
    }
    .bottom-line {
      margin: 10px auto;
    }

    .shopping-cart-summary-area {
      width: 100%;
      .shopping-cart-summary-content {
        width: 100%;
      }
      .shopping-cart-summary-total {
        > div {
          margin: 0.5rem 0;
        }
      }
      .shopping-cart-summary-title,
      .shopping-cart-summary-text {
        font-size: 1.25rem;
        font-weight: $font-weight-lighter;
        &.total {
          margin: 0.75rem 0;
          font-size: 1.5rem;
          font-family: $font-family-cn-main, $font-family-en-main;
          font-weight: $font-weight-normal;
        }
      }
    }
  }

  .cart-prd-info {
    .cart-prd-info-content {
      border-bottom: 1px solid white;
    }
  }
}

.select-class {
  background: rgb(0, 0, 0);
  color: white;
}

.shopping-cart-info-title {
  margin-bottom: 2rem;
  span {
    width: 100%;
    display: block;
    font-family: $font-family-cn-main, $font-family-en-main;
    font-size: 2rem;
  }
  span:last-child {
    font-size: 1.25rem;
  }
}

.shopping-cart-section {
  @include cn-list-main();
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px;
  flex-direction: column;

  .cart-checkbox-area {
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;

    .cart-checkbox {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $color-font-gold;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        fill: #1c1a20;
      }
    }
    .finish-checkbox {
      width: 100%;
      font-size: 20px;
    }
    .order-num-check {
      width: 100%;
      margin-bottom: 20px;
      span {
        display: flex;
        text-align: center;
        justify-content: center;
      }
    }
  }
}
.shopping-cart-prd-content {
  flex-grow: 1;
}
.cart-step1-noprd-text {
  color: #777;
  text-align: center;
  padding: 2rem 0;
}

//電腦版
@media screen and (min-width: 768px) {
  .cart-step-content {
    font-family: $font-family-cn-main;
    display: flex;
    justify-content: space-between;
    text-align: center;

    .cart-step {
      border: 1px solid transparent;
      background: $color-border-gray;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: $space-2;
      padding: $space-2;
      &.active {
        background: $color-font-gold;
        color: $color-bg-block;
        font-family: $font-family-cn-main;
        font-weight: $font-weight-bold;
      }

      .step-left {
        margin-right: $space-3;
        width: fit-content;
        font-size: var(--fs-cn-page-type1-menu);
      }
      .step-right {
        font-family: $font-family-cn-main;
        font-weight: $font-weight-bold;
        padding: 0;
        width: fit-content;
        font-size: var(--fs-en-page-type1-content);
      }
    }
  }

  .shopping-cart-area {
    width: 100%;
    padding: $space-2;
  }
  .shopping-cart-check-content {
    width: 45%;
    margin-left: $space-2;
  }

  .cart-prd-info-content {
    // width: 100%;
    .cart-prd-img {
      width: 20rem !important;
      height: 10rem;
      img {
        width: 20rem;
        height: 10rem;
        object-fit: contain;
      }
    }
    .cart-prd-content {
      width: 20vw;
      padding: $space-2;
    }
  }

  .cart-prd-number-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: $space-2;

    .cart-prd-icon {
      margin: $space-4;
      cursor: pointer;
      &:hover {
        color: $color-font-gold;
      }
    }
  }
  .cart-prd-number {
    min-width: 8rem;
    align-items: center;
    justify-content: space-between;
    order: 1;

    .prd-number {
      width: 100%;
    }
    .prd-plus {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .prd-minus {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .shopping-cart-check-bg {
    width: 100%;
    background-color: $color-bg-light;
    padding: $space-4;

    .shopping-cart-info {
      font-size: var(--fs-cn-page-type1-menu);
    }
    .shopping-cart-width {
      color: red;
      // width: 20vw;
    }
  }
  .check-content {
    max-width: 100%;
  }
  .cart-area {
    .shopping-cart-area {
      .shopping-cart-bg {
        padding: $space-4;
      }
    }
  }
}
