.prd-card-all {
  .pard-card {
    display: none;
    height: 22rem !important;
    .pard-card-image {
      height: auto;
      img {
        background: white;
        object-fit: contain;
      }
    }
    .prd-card-title {
      > a {
        height: 2.7rem;
        width: 100%;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .prd-card-all {
    display: none;
    .prd-content {
      .prd-card-all {
        .prd-card {
          height: 35rem;
          .prd-card-title {
            > a {
              height: 4.5rem;
            }
          }
        }
      }
    }
  }
}
