@import '../../../assets/scss/global.scss';
* {
  box-sizing: border-box;
}

.button-style {
  background-color: transparent;
  font-family: $font-family-en-main;
  font-size: var(--fs-cn-btn-md);
  font-weight: $font-weight-bold;
  border: 2px solid $color-font-gold;
  color: $color-font-gold;
  text-align: center;
  padding: 0.3rem 0.6rem;
}
.section-title-en {
  font-family: $font-family-en-main;
  position: absolute;
  color: rgba(255, 255, 255, 0.35);
  font-weight: 900;
  z-index: -1;
  font-size: var(--fs-en-page-type1-title-caption);
  top: 1rem;
}

// =====section-content=======
.section-content {
  position: absolute;
  color: $color-font;
  top: 3rem;
  left: 0.8rem;
  .section-title-cn {
    font-family: $font-family-cn-main;
    font-weight: 600;
    font-size: var(--fs-cn-home-title-lg);
    color: $color-font-gold;
    margin-bottom: $space-2;
  }
  .section-content-en {
    font-family: $font-family-en-main;
    font-weight: $font-weight-bold;
    font-size: var(--fs-en-home-title-md);
    margin-bottom: $space-3;
    letter-spacing: $letter-space-1;
  }
  .section-content-cn {
    font-family: $font-family-cn-content;
    font-weight: $font-weight-lighter;
    letter-spacing: $letter-space-1;
  }
}

// =====hot-slider=======

.homepages3-slder {
  width: 100%;
  position: absolute;
  top: 45%;
  .homepages3-card {
    padding: $space-2;
    width: 100%;
    .card-img {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .card-title {
      font-family: $font-family-en-main;
      white-space: nowrap;
      text-align: center;
    }
  }
}
// ======bartd-slider=====
.homepages4-slider {
  // display: none;
  position: absolute;
  top: 45%;
  height: 50%;
  width: 100%;
  .homepages4-card {
    padding: 0 $space-3;
    .card-img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .card-content {
      font-family: $font-family-cn-main;
      font-weight: $font-weight-lighter;
      text-align: center;
    }
  }
}

// ======bartd-card=====
.bartd-card {
  width: 60vw;
  .bartd-img {
    width: 70vw;
    height: 70vw;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .bartd-text {
    font-family: $font-family-cn-main;
  }
}

// =====section1=======

.container-fluid {
  .section1 {
    position: relative;
    min-height: 30rem;
    background: no-repeat url(../../../assets/images/fe/homepage/homepage-head.png);
    background-size: 90% 100%;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 90%;
    min-height: 30rem;
  }
  .homeBox-1 {
    z-index: -1;
    width: 30%;
    height: 110%;
    background-color: #131213;
    position: absolute;
    right: -1rem;
  }

  .s1-position {
    // display: none;
    position: absolute;
    right: 1.7rem;
    text-align: end;
    top: 8rem;
    color: white;
    .font-cn-content {
      font-family: $font-family-cn-main;
      font-weight: $font-weight-lighter;
      letter-spacing: $letter-space-2;
      font-size: var(--fs-cn-home-content);
    }
    .font-en-title {
      font-family: $font-family-cn-main;
      font-size: var(--fs-en-home-title-lg);
      font-weight: $font-weight-bold;
      letter-spacing: $letter-space-2;
    }
    .font-cn-title {
      font-family: $font-family-cn-main;
      font-size: var(--fs-cn-home-title-md);
      font-weight: $font-weight-lighter;
      letter-spacing: $letter-space-1;
    }
  }
  .s1-button {
    padding: 0.2rem 1rem;
  }

  // .ul-position {
  //   position: absolute;
  //   right: 7vw;
  //   bottom: 40vh;
  //   ul {
  //     li {
  //       a {
  //         text-decoration: none;
  //         color: white;
  //         margin: 0;
  //         &:hover,
  //         &.active {
  //           color: $color-font-gold;
  //         }
  //       }
  //     }
  //   }
  // }
}
// =====section2=======
.section2 {
  min-height: 51rem;
  // background: lightpink;
  position: relative;
  right: 0.3rem;
  top: $space-5;
  .homeBox-2 {
    z-index: -2;
    width: 50%;
    height: 50%;
    background-color: #131213;
    position: absolute;
    left: 0;
    margin-top: $space-3;
  }
  .s2-img1 {
    position: absolute;
    left: 0;
    top: 45%;
    width: 80%;
    height: 30%;
    z-index: 2;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .s2-img2 {
    position: absolute;
    bottom: 10%;
    right: 0;
    width: 80%;
    height: 20rem;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
// =====section=======
.section3 {
  min-height: 51rem;
  .homeBox-3 {
    z-index: -2;
    width: 75%;
    height: 50%;
    background-color: #131213;
    position: absolute;
    right: 0;
    top: $space-base * 7.5;
  }
  .section-content {
    right: 1rem;
  }
}

// =====section=======
.section4 {
  min-height: 51rem;
  position: relative;
  .homeBox-4 {
    z-index: -2;
    width: 50%;
    height: 50%;
    background-color: #131213;
    position: absolute;
    left: 0;
    margin-top: $space-3;
  }
  .bartd-slider {
    top: 45vh;
    width: 100vw;
  }
  .slider-button {
    position: absolute;
    bottom: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

// =====section=======
.section5 {
  min-height: 33rem;
  .homeBox-5 {
    z-index: -2;
    width: 85%;
    height: 86%;
    top: 4.5rem;
    background-color: #131213;
    position: absolute;
    right: 0;
    margin-top: $space-3;
  }
  .section-content {
    right: 1.2rem;
  }
  .s5-img {
    // display: none;
    width: 90%;
    opacity: 0.8;
    height: 75%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media screen and (min-width: 768px) {
  // =====section-content=======
  .section-content {
    top: 10rem;
    left: 6rem;
    .section-title-cn {
      line-height: $line-heght-2;
      font-family: $font-family-cn-main;
      color: $color-font-gold;
      margin-bottom: 0.5rem;
      font-size: var(--fs-cn-home-title-lg);
    }
    .section-content-en {
      font-size: var(-fs-cn-home-content);
      line-height: $line-heght-3;
    }
    .section-content-cn {
      line-height: $line-heght-0;
      font-size: var(--fs-cn-home-content);
      // letter-spacing: $space-1;
    }
    .section-button {
      margin-top: $space-5;
    }
  }
  // =====hot-slider=======
  .homepages3-slder {
    position: absolute;
    left: 5rem;
    top: 20%;
    width: 45%;
    // z-index: -1 ;
    .homepages3-card {
      width: 20rem;
      padding: 0 $space-2;
      .card-img {
        width: 100%;
        height: 25rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .card-title {
        font-family: $font-family-en-main;
        white-space: nowrap;
        text-align: center;
      }
    }
  }
  // ======bartd-slider=====
  .homepages4-slider {
    position: absolute;
    top: 12%;
    right: 3rem;
    height: 30%;
    width: 50%;
    .homepages4-card {
      padding: 0 $space-3;
      .card-img {
        width: 100%;
        height: 20%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card-content {
        font-family: $font-family-cn-main;
      }
    }
  }
  // ======bartd-card=====
  // .bartd-card {
  //   width: 60vw;
  //   .bartd-img {
  //     width: 100%;
  //     img {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: cover;
  //     }
  //   }
  //   .bartd-text {
  //     font-family: $font-family-cn-main;
  //   }
  // }

  // =====section-content=======

  // .bartd-card {
  //   margin: 0 $space-base;
  //   .bartd-img {
  //     width: 100%;
  //     height: 40vh;
  //     img {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: cover;
  //     }
  //   }
  //   .bartd-text {
  //     font-family: $font-family-cn-main;
  //   }
  // }
  // =====section1=======
  .container-fluid {
    .section1 {
      width: 100%;
      position: relative;
      min-height: 70rem;
      background: none;
    }
    .homeBox-1 {
      z-index: -1;
      width: 40%;
      height: 70rem;
      background-color: #131213;
      position: absolute;
      right: 0;
    }

    .pc-img {
      position: absolute;
      //width: ;
      width: 90rem;
      height: 50rem;
      left: -4.5rem;
      top: 5rem;
      opacity: 0.5;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    .mask {
      width: 65%;
      height: 50rem;
      top: 5rem;
      left: -1.2rem;
    }

    .s1-position {
      position: relative;
      right: 4rem;
      top: 20rem;
      text-align: end;
      color: white;
      // font-size: 1rem;
      .font-cn-content {
        font-size: var(--fs-cn-home-prdtext);
        letter-spacing: $letter-space-base * 0.4;
      }
      .font-en-title {
        font-size: var(--fs-en-page-type1-title-md);
        letter-spacing: $letter-space-base * 0.3;
      }
      .font-cn-title {
        top: 2.5rem;
        font-size: var(--fs-cn-home-title-md);
      }
    }
    .s1-button {
      background-color: rgba(0, 0, 0, 0);
      border: 2px solid #ffdb96;
      color: #ffdb96;
      text-align: center;
      padding: 0.5rem 4rem;
      font-size: var(--fs-cn-home-title-lg);
      font-family: $font-weight-bold;
      top: 4rem;
    }
  }
  // =====section2=======

  .section2 {
    // left: 2rem;
    top: 7rem;
    position: relative;
    .homeBox-2 {
      z-index: -2;
      width: 10%;
      height: 70%;
      left: 19.5rem;
      top: 10rem;
    }
    .section-title-en {
      top: 15%;
      left: 3rem;
    }
    .section-content {
      top: 16.5rem;
      left: 9rem;
    }

    .s2-img1 {
      position: absolute;
      left: auto;
      right: 3rem;
      top: 5rem;
      width: 50%;
      height: 70%;
      z-index: -1;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .s2-img2 {
      position: absolute;
      bottom: -2rem;
      right: 40%;
      width: 22%;
      height: 40%;
      z-index: -2;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .section3 {
    top: 20rem;
    .homeBox-3 {
      width: 60%;
      height: 65%;
      right: 3rem;
      top: 5rem;
    }
    .section-title-en {
      top: 8%;
      right: 12rem;
    }
    .section-content {
      right: 17rem;
      top: 13rem;
      .section-content-cn {
        letter-spacing: $letter-space-2;
      }
    }
  }

  // =====section=======
  .section4 {
    top: 20rem;
    min-height: 80rem;
    position: relative;
    .section-title-en {
      left: 3rem;
    }
    .bartd-slider {
      position: absolute;
      top: 45vh;
      right: 0;
      width: 60vw;
      display: flex;
    }
    .slider-button {
      position: absolute;
      bottom: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  // =====section=======
  .section5 {
    min-height: 100vh;
    .section-title-en {
      right: 30vw;
      top: 40vh;
    }
    .section-content {
      left: 45vw;
      right: auto;
      top: 50vh;
    }
    .s5-img {
      // display: none;
      width: 50vw;
      height: 70vh;
      opacity: 0.8;
      position: absolute;
      bottom: 10vh;
      z-index: -1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
