@import '../../../assets/scss/_variable.scss';

.Bartending-content {
  .Bartending-content-top {
    display: flex;
    flex-wrap: wrap;
    font-family: $font-family-cn-content;
    justify-content: space-between;
    .Bartending-total {
      order: 1;
      font-size: var(--fs-cn-page-list-title-sm);
      margin-top: $space-2;
      font-weight: $font-weight-lighter;
      span {
        margin-left: $space-2;
      }
    }
    .Bartending-sel-all {
      order: 2;
      width: 100%;
      font-size: var(--fs-cn-page-list-title-sm);
      margin-top: $space-2;

      .ant-select-selector,
      .ant-select-selector:focus {
        border: 0;
      }

      .Bartending-sel {
        .Bartending-sel-1,
        .Bartending-sel-2 {
          color: $color-font-sp-light;
          border-bottom: solid 1px;
          background-color: $color-bg-dark;
        }
        .Bartending-sel-1 {
          width: 23vw;
          overflow: hidden;
        }
        .Bartending-sel-2 {
          width: 35vw;
          overflow: hidden;
        }
      }
    }
    .Bartending-search-form {
      order: 3;
      margin: 0 auto;
      margin-top: $space-3;
      width: 90%;
      .ant-btn.ant-btn-primary.ant-input-search-button {
        border-color: $color-font-gold !important;
        color: $color-font-gold;
        font-family: $font-family-cn-main;
      }

      .Bartending-search-label {
        color: $color-font;
        background-color: #56565650;
        border: solid 0.1rem $color-font-sp;
        border-radius: 0%;
      }
      .Bartending-search-btn {
        width: 30%;
        letter-spacing: $letter-space-1;
        padding: $space-1 $space-3;
        border: solid 1px $color-font-gold;
        border-radius: 0%;
        font-family: $font-family-en-main;
        font-weight: $font-weight-bold;
        font-size: var(--fs-cn-page-list-title-sm);
        color: $color-font;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .Bartending-content {
    .Bartending-content-top {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin-bottom: $space-6;
      .Bartending-sel-all {
        order: 2;
        margin-top: 0;
        font-size: var(--fs-cn-page-list-filter);
        .Bartending-sel {
          display: flex;
          justify-content: end;
          .Bartending-sel-1 {
            width: 8vw;
          }
          .Bartending-sel-2 {
            width: 12vw;
          }
        }
      }
      .Bartending-search-form {
        order: 1;
        width: 30%;
        height: 50%;
        margin: 0;
      }
    }
  }
}
