@import '../../../assets/scss/global.scss';

.Bartending-content {
  .Bartending-content-top {
    display: flex;
    flex-wrap: wrap;
    font-family: $font-family-cn-content;
    justify-content: space-between;
    .Bartending-total {
      order: 1;
      font-size: var(--fs-cn-page-list-title-sm);
      margin-top: $space-2;
      font-weight: $font-weight-lighter;
      span {
        margin-left: $space-2;
      }
    }
    .Bartending-sel-all {
      order: 2;
      font-size: var(--fs-cn-page-list-);
      margin-top: $space-2;
      right: -$space-3;

      .Bartending-sel-1 {
        .Bartending-sel {
          color: $color-font-sp-light;
          border-bottom: solid 1px;
        }
      }
    }
    .Bartending-search-form {
      order: 3;
      margin-top: $space-3;
      width: 100%;
      .Bartending-search-label {
        color: $color-font;
        background-color: #56565650;
        border: solid 0.1rem $color-font-sp;
        border-radius: 0%;
      }
      .Bartending-search-btn {
        width: 30%;
        letter-spacing:$letter-space-1;
        padding: $space-1 $space-3;
        border: solid 1px $color-font-gold;
        border-radius: 0%;
        font-family: $font-family-en-main;
        font-weight: $font-weight-bold;
        font-size: var(--fs-cn-page-list-title-sm);
        color: $color-font;
      }
    }
  }
  .Bartending-card-all {
    .Bartending-card-col {
      display: flex;
      .Bartending-card {
        // height: 80%;
        background-color: $color-bg-block;
        margin-top: $space-3;
        margin-bottom: $space-2;
        padding: 0 0 $space-3 0;
        flex-grow: 1;
        .Bartending-card-image {
          width: 100%;
          height: 20vh;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        .Bartending-card-body {
          font-family: $font-family-cn-content;
          font-weight: $font-weight-bold;
          font-size: var(--fs-cn-page-list-menu);
          overflow: hidden;
          text-overflow:ellipsis;
          width: 100%;
          padding: $space-2;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: start;
          .Bartending-card-subtitle {
            padding: $space-2 0;
            font-weight: $font-weight-lighter;
            font-size: var(--fs-cn-page-list-);
            width: 90%;
         
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .Bartending-content {
    .Bartending-content-top {
      justify-content: space-between;
      .Bartending-sel-all {
        order: 2;
        .prd-sel-2 {
          width: 100%;
        }
      }
      .Bartending-search-form {
        order: 1;
        width: 30%;
        height: 50%;
      }
    }
    .Bartending-card-all {
      .Bartending-card-col {
        .Bartending-card {
          .Bartending-card-image {
            width: 100%;
            height: 25vh;
          }
          .Bartending-card-body{
            .Bartending-card-subtitle{
              width: 80%;

            }
          }
        }
      }
    }
  }
}
