@import '../../../assets/scss/global.scss';

.reputation-list {
  .reputation-list-content {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
    // margin: 0 auto;
    .reputation-list-time {
      margin-bottom: 0.5rem;
    }
    .reputation-list-prd {
      display: flex;
      flex-direction: row;
      .reputation-list-img {
        width: 30%;
        margin-right: 0.5rem;
        img {
          object-fit: cover;
          width: 100%;
        }
      }
      .reputation-list-prdname {
        width: 100%;
        padding-top: 0.5rem;
      }
    }
    .reputation-list-footer {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
      .reputation-list-star {
        order: 1;
      }
      .reputation-list-comment {
        order: 2;
        width: 90%;
      }
    }
  }
}

.reputation-orderlist {
  .page-type1-list-content {
    display: flex;
    align-items: center;
    width: 100%;

    .reputation-orderlist-button {
      padding: 0.5rem;
      border-radius: 0.3rem;
      background-color: black;
    }
  }
}

@media screen and (min-width: 768px) {
  .reputation-list {
    .reputation-list-content {
      flex-direction: row;
      .reputation-list-prd {
      }
    }
  }
  .reputation-orderlist {
    .page-type1-list-content {
      border: unset;
      > div {
        margin-bottom: 0;
      }
    }
  }
}
