@import '../../../assets/scss/global.scss';

.reputation-list {
  .reputation-list-card {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
    .reputation-list-content {
      // margin: 0 auto;
      // display: flex;
      // flex-direction: column;
      .reputation-list-time {
        margin-bottom: 0.5rem;
      }
      .reputation-list-prd {
        display: flex;
        flex-wrap: nowrap;

        .reputation-list-img {
          width: 30%;
          margin-right: 0.5rem;
          img {
            object-fit: cover;
            width: 100%;
          }
        }
        .reputation-list-prdname {
          width: 100%;
          padding-top: 0.5rem;
        }
      }
      .reputation-list-footer {
        margin-top: 0.5rem;
        .reputation-list-star {
          order: 1;
        }
        .reputation-list-comment {
          order: 2;
          width: 90%;
        }
      }
    }
  }
}

.reputation-orderlist {
  .page-type1-list-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .reputation-orderlist-button {
      padding: 0.5rem;
      border-radius: 0.3rem;
      background-color: black;
    }
  }
}

@media screen and (min-width: 768px) {
  .reputation-list {
    .reputation-list-card {
      flex-direction: row;
      justify-content: space-between;
      .reputation-list-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .reputation-list-prd {
          flex-grow: 1;
        }

        .reputation-list-footer {
          // flex-grow: 1;
          display: flex;
          flex-direction: row;

          .reputation-list-star {
            order: 2;
          }
          .reputation-list-comment {
            order: 1;
          }
        }
      }
    }
  }
  .reputation-orderlist {
    .page-type1-list-content {
      border: unset;
      > div {
        margin-bottom: 0;
      }
    }
  }
}
