@import '../../../assets/scss/_variable.scss';

.chatroom-area {
  .user-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: $space-2;
  }
  .group-member-area {
    padding: 0 $space-3;
  }
  .group-member {
    display: flex;
    align-items: center;
    margin-bottom: $space-2;
    &:last-child {
      margin-bottom: unset;
    }
  }
  .dialogue-list {
    border: 1px #444 solid;
    border-radius: 10px;
    padding: $space-2;
    margin-bottom: $space-3;
    height: 30rem;
    overflow: auto;
  }
  .dialogue {
    margin-bottom: $space-3;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    &:last-child {
      margin-bottom: unset;
    }
    .dialogue-user {
      display: flex;
      align-items: center;
    }
    .dialogue-content {
      background-color: #444;
      border-radius: 10px;
      width: fit-content;
      padding: $space-1 $space-2;
      margin: $space-2;
      font-size: 0.875rem;
      .dialogue-content-shape {
        position: absolute;
        left: 0.1rem;
        top: 0.5rem;
        transform: translate(-100%, 0) rotate(-90deg);
        background-color: #444;
        width: 0.5rem;
        height: 0.5rem;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      }
    }

    &.own {
      align-items: flex-end;
      .dialogue-user {
        display: none;
      }
      .dialogue-content {
        .dialogue-content-shape {
          left: calc(100% - 0.1rem);
          transform: translate(0, 0) rotate(90deg);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .chatroom-area {
    display: flex;
    justify-content: space-between;
    gap: $space-3;
    > div:first-child {
      width: 20%;
      max-width: 20rem;
    }
    .dialogue-area {
      flex-grow: 1;
    }
    .dialogue {
      .dialogue-content {
        font-size: 1.2rem;
      }
    }
  }
}
