@import '../../../assets/scss/global.scss';

.w-fit-content {
  width: fit-content;
}
.bg-box{
  width: 100%;
  height: 80vh;
  background-color: $color-bg-block;
}
.prd-detail-title{
  font-size: var( --fs-cn-page-type1-menu);
  font-family: $font-family-cn-main;
  color: $color-font-gold;
}
.prd-detial-price{
  font-size: var(--fs-en-page-type1-title-sm);
  font-family: $font-family-en-content;
}
.prd-detail-number{
  font-size: var(--fs-cn-page-type1-title-md);
  font-family: $font-family-cn-content;
}
.prd-detail-input-number{
  border-left: 1px solid $color-font-sp;
  border-bottom: 2px solid $color-font-sp;
  width: 30%;
}
.prd-detail-button-position{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.prd-detail-button-1{
 background-color: $color-font-gold;
 font-family: $font-family-cn-main;
 color: black;
 border: 2px solid rgba(0, 0, 139, 0);
}
.prd-detail-button-2{
  border: 2px solid $color-font-gold;
  font-family: $font-family-cn-main;
  *{
    color: $color-font-gold;
  }
}