@import '../global/global.scss';
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
//   :root{
//     --spical-color:#FFDB96;
//     --ensub-color: #CCCCCC;
//     --font-color: #FFFFFF;
//     --font-base: 1rem;
//   }
body {
  background-color: $color-bg-dark;
}
/* .section_title{
    position: relative;
    background: url(images/prolist_background.png);
    min-height:26vh ;  
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 
  } */
.section_title {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  .background_img img {
    object-fit: cover;
    /* height: 100%; */
    width: 100%;
  }
  .title_sub {
    position: absolute;
    top: 10%;
    left: 20%;
    font-family: $font-family-en-main;
    font-weight: $font-weight-lighter;
    font-size: var(--font-base);
    font-size:  var(--fs-cn-page-list-title-sm);
    color: $color-font-sp-light; 
  }
  .title_line {
   border-bottom: 0.5px rgb(255, 0, 0) solid;
   width: 10px;
   height: 10px;

  }
  .title_major {
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: $font-family-en-main;
    font-weight: $font-weight-bold ;
    font-size: var(--fs-cn-page-list-title-lg);
    color: $color-font;
    .title_major_btn {
      margin: 0 $space-5;
      padding: ($space-base * 0.1) $space-3 ;
      // border: solid ($space-base * 0.2) $fontcolor-gold;
      // text-align: center; 
      border-radius: 0%;
      font-family: $font-family-en-main;
      font-weight: $font-weight-bold ;
      font-size:  var(--fs-cn-page-list-title-sm);
      color: $color-font-gold;
    }
  }
}
