@charset "UTF-8";
/* 引入字體 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* 引入變數 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* =============== 針對空間 =============== */
/* =============== 針對顏色 =============== */
/* 背景顏色 : 1C1A20
  背景方塊色 : 131213
  一般字顏色 : FFFFFF
  金色字顏色 : FFDB96
  英文大標顏色 : 666666
  頁面麵包屑顏色 : bab9b9
  輸入空格外框 & 填滿色 : 565656 
  icon顏色 & header 英文字顏色 & prev : CCCCCC
  */
/* =============== 針對字形 ===============*/
/* 
  中文重要字體 : Noto Serif TC
  中文內文字體 : Noto Sans TC

  英文重要字體 : Playfair Display
  英文內文字體 : Roboto 
  */
:root {
  /* =============== 文字大小 =============== */
  /* =============== 手機板  =============== */
  /* fontbase:16px */
  --font-base: 1rem;
  /* =========== 中文 =========== */
  /* 首頁
  內文 : 16px   
  產品文字 : 16px  
  中標 : 24px   
  大標 : 32px 
  */
  --fs-cn-home-content: var(--font-base);
  --fs-cn-home-prdtext: var(--font-base);
  --fs-cn-home-title-md: calc(var(--font-base) * 1.5);
  --fs-cn-home-title-lg: calc(var(--font-base) * 2);
  /* 會員、揪團  (type1)
  內文 : 16px 
  選單 : 20px  
  中標 : 20px   
  大標 : 32px
  重要說明內文 : 16px
  重要說明標題 : 24px
  */
  --fs-cn-page-type1-content: var(--font-base);
  --fs-cn-page-type1-menu: calc(var(--font-base) * 1.25);
  --fs-cn-page-type1-title-md: calc(var(--font-base) * 1.25);
  --fs-cn-page-type1-title-lg: calc(var(--font-base) * 2);
  --fs-cn-page-type1-content-sp: var(--font-base);
  --fs-cn-page-type1-title-sp: calc(var(--font-base) * 1.5);
  /*商品列表
    選單:16px
    篩選文字:14px
    產品文字:14px
    酒譜材料: 12px
  */
  --fs-cn-page-list-menu: var(--font-base);
  --fs-cn-page-list-filter: calc(var(--font-base) * 0.875);
  --fs-cn-page-list-content: calc(var(--font-base) * 0.875);
  --fs-cn-page-list-: calc(var(--font-base) * 0.75);
  /* =========== 英文 =========== */
  /* 首頁 
  Next : 13px
  Prev : 13px
  button : 15px   
  內文 : 15px   
  中標 : 14px
  大標 : 24px
  首字母 : 64px
  */
  --fs-en-home-next: calc(var(--font-base) * 0.9375);
  --fs-en-home-prev: calc(var(--font-base) * 0.8125);
  --fs-en-home-btn: calc(var(--font-base) * 0.9375);
  --fs-en-home-content: calc(var(--font-base) * 0.9375);
  --fs-en-home-title-md: calc(var(--font-base) * 0.875);
  --fs-en-home-title-lg: calc(var(--font-base) * 1.5);
  --fs-en-home-title-caption: calc(var(--font-base) * 1.5);
  /* 會員、揪團  (type1)
  內文 : 16px
  小標 : 20px 關於我們的電話、email
  中標 : 32px 關於我們的stayintouch
  大標 : 48px 
  首字母：64px
  */
  --fs-en-page-type1-content: var(--font-base);
  --fs-en-page-type1-title-sm: calc(var(--font-base) * 1.25);
  --fs-en-page-type1-title-md: calc(var(--font-base) * 2);
  --fs-en-page-type1-title-lg: calc(var(--font-base) * 3);
  --fs-en-page-type1-title-caption: calc(var(--font-base) * 4);
  /*商品列表
    小標: 12px
    大標: 20px
  */
  --fs-cn-page-list-title-sm: calc(var(--font-base) * 0.75);
  --fs-cn-page-list-title-lg: calc(var(--font-base) * 1.25);
  /* =========== 元件 =========== */
  /* button 
  小button : 12px
  中button : 16px
  大button : 20px
  Next : 16px
  Prev : 13px
  */
  --fs-cn-btn-sm: calc(var(--font-base) * 0.75);
  --fs-cn-btn-md: var(--font-base);
  --fs-cn-btn-lg: calc(var(--font-base) * 1.25);
  --fs-en-next: var(--font-base);
  --fs-en-prev: calc(var(--font-base) * 0.8125);
  /* header
  選單 : 24px
  小標 : 16px
  內文 : 14px
  數字 : 12px
  Welcome to INJOIN : 16px
  */
  --fs-cn-header-menu: calc(var(--font-base) * 1.5);
  --fs-cn-header-title: calc(var(--font-base) * 1);
  --fs-cn-header-content: calc(var(--font-base) * 0.875);
  --fs-en-header-num: calc(var(--font-base) * 0.75);
  --fs-en-header-slogan: calc(var(--font-base) * 1);
  /* footer 
  主字 : 16px
  內容 : 14px
  */
  --fs-cn-footer-title: var(--font-base);
  --fs-cn-footer-content: calc(var(--font-base) * 0.875);
}

/* ====================== 電腦版  ====================== */
@media screen and (min-width: 768px) {
  :root {
    /* =============== 文字大小 =============== */
    /* =========== 中文 =========== */
    /* 首頁
  內文 : 20px 
  產品文字 : 24px  
  中標 : 36px   
  大標 : 48px */
    --fs-cn-home-content: calc(var(--font-base) * 1.25);
    --fs-cn-home-prdtext: calc(var(--font-base) * 1.5);
    --fs-cn-home-title-md: calc(var(--font-base) * 2.25);
    --fs-cn-home-title-lg: calc(var(--font-base) * 3);
    /* 會員、揪團  (type1)
  內文 : 20px
  選單 : 32px
  中標 : 40px
  大標 : 64px
  重要說明內文 : 24px
  重要說明標題 : 32px
  */
    --fs-cn-page-type1-content: calc(var(--font-base) * 1.25);
    --fs-cn-page-type1-menu: calc(var(--font-base) * 2);
    --fs-cn-page-type1-title-md: calc(var(--font-base) * 2.5);
    --fs-cn-page-type1-title-lg: calc(var(--font-base) * 4);
    --fs-cn-page-type1-content-sp: calc(var(--font-base) * 1.5);
    --fs-cn-page-type1-title-sp: calc(var(--font-base) * 2);
    /* 商品列表
      選單:32px
      篩選文字:24px
      產品文字: 24px
      酒譜材料: 16px
    */
    --fs-cn-page-list-menu: calc(var(--font-base) * 2);
    --fs-cn-page-list-filter: calc(var(--font-base) * 1.5);
    --fs-cn-page-list-content: calc(var(--font-base) * 1.5);
    --fs-cn-page-list-: calc(var(--font-base) * 1);
    /* =========== 英文 =========== */
    /* 首頁 
  Next : 36px
  Prev : 32px
  button : 32px  
  內文 : 32px   
  中標 : 32px
  大標 : 40px
  首字母 : 128px
  */
    --fs-en-home-next: calc(var(--font-base) * 2.25);
    --fs-en-home-prev: calc(var(--font-base) * 2);
    --fs-en-home-btn: calc(var(--font-base) * 2);
    --fs-en-home-content: calc(var(--font-base) * 2);
    --fs-en-home-title-md: calc(var(--font-base) * 2);
    --fs-en-home-title-lg: calc(var(--font-base) * 2.5);
    --fs-en-home-title-caption: calc(var(--font-base) * 8);
    /* 會員、揪團  (type1)
  內文 : 24px
  小標 : 24px 關於我們的電話、email
  中標 : 48px 關於我們的stayintouch
  大標 : 128px
  首字母：200px
  */
    --fs-en-page-type1-content: calc(var(--font-base) * 1.5);
    --fs-en-page-type1-title-sm: calc(var(--font-base) * 1.5);
    --fs-en-page-type1-title-md: calc(var(--font-base) * 3);
    --fs-en-page-type1-title-lg: calc(var(--font-base) * 8);
    --fs-en-page-type1-title-caption: calc(var(--font-base) * 12.5);
    /* 商品列表
      小標 : 16px
      大標 : 64px
    */
    --fs-cn-page-list-title-sm: calc(var(--font-base) * 1);
    --fs-cn-page-list-title-lg: calc(var(--font-base) * 4);
    /* =========== 元件 =========== */
    /* button 
    小button : 20px
    中button : 24px
    大button : 32px
    Next : 32px
    Prev : 24px
    */
    --fs-cn-btn-sm: calc(var(--font-base) * 1.25);
    --fs-cn-btn-md: calc(var(--font-base) * 1.5);
    --fs-cn-btn-lg: calc(var(--font-base) * 2);
    --fs-en-btn-next: calc(var(--font-base) * 2);
    --fs-en-btn-prev: calc(var(--font-base) * 1.5);
    /* header
    選單 : 64px
    小標 : 24px
    內文 : 24px
    數字 : 32px
    Welcome to INJOIN : 32px
    */
    --fs-cn-header-menu: calc(var(--font-base) * 4);
    --fs-cn-header-title: calc(var(--font-base) * 1.5);
    --fs-cn-header-content: calc(var(--font-base) * 1.5);
    --fs-en-header-num: calc(var(--font-base) * 2);
    --fs-en-header-slogan: calc(var(--font-base) * 2);
    /* footer  
  主字 : 24px
  內容 : 20px
  */
    --fs-cn-footer-title: calc(var(--font-base) * 1.5);
    --fs-cn-footer-content: calc(var(--font-base) * 1.25);
  }
}

* {
  position: relative;
}

body {
  background-color: #1c1a20;
  color: #ffffff;
}

/* ==================== 全域 ==================== */
/* ===== a ===== */
a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffdb96;
}

/* ===== buttom ===== */
.btn-none {
  background-color: transparent;
  border: unset;
}

/* ===== select樣式 ===== */
select {
  background: transparent;
  color: #fff;
  border: unset;
  border-bottom: 0.5px solid #fff;
}

/* ===== view ===== */
.pc-view {
  display: none;
}

/* ===== img-object ===== */
.object-fit-cover {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ==================== 常用 ==================== */
/* ===== page type1 header ===== */
.page-type1-header {
  background-color: #000;
  color: #ffffff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 6rem;
}

.page-type1-header .page-type1-header-select {
  z-index: 10;
  color: #bab9b9;
  font-size: var(--fs-en-page-type1-prev);
}

.page-type1-header .page-type1-header-select select {
  font-family: "Noto Serif TC";
}

.page-type1-header .page-type1-header-content-title {
  z-index: 10;
}

.page-type1-header .page-type1-header-content-title-en {
  color: #666666;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: var(--fs-en-page-type1-title-lg);
  line-height: 100%;
}

.page-type1-header .page-type1-header-content-title-en span:first-child {
  font-size: var(--fs-en-page-type1-title-caption);
}

.page-type1-header .page-type1-header-content-title-cn {
  position: absolute;
  bottom: 0;
  left: 5%;
  color: #ffdb96;
  font-family: "Noto Serif TC";
  font-weight: bold;
  font-size: var(--fs-cn-page-type1-title-lg);
}

.page-type1-header .page-type1-header-content-menu {
  width: 95%;
  margin-top: 1rem;
  margin-left: auto;
  letter-spacing: 0.1rem;
}

.page-type1-header .page-type1-header-content-menu li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 200%;
  font-family: "Noto Serif TC";
  font-weight: bold;
  font-size: var(--fs-cn-page-type1-menu);
  z-index: 10;
}

.page-type1-header .page-type1-header-content-menu.active a {
  color: #ffdb96;
}

.page-type1-header .page-type1-header-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 90%;
  overflow: hidden;
}

.page-type1-header .page-type1-header-img .page-type1-header-img-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000090;
}

/* ===== page title  ===== */
.page-type1-area-title {
  border-left: 10px #ffffff solid;
  padding-left: 1rem;
  font-size: var(--fs-cn-page-type1-title-sp);
  font-family: "Noto Serif TC";
  margin-bottom: 1.5rem;
}

/* ===== page pagination  ===== */
.page-type1-pagination {
  font-family: "Playfair Display";
  font-size: var(--fs-en-btn-btn);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 1rem auto;
  max-width: 10rem;
}

.page-type1-pagination .page-type1-pagination-btn {
  background-color: transparent;
  border: none;
}

.page-type1-pagination .page-type1-pagination-btn svg {
  fill: #bab9b9;
}

.page-type1-pagination .page-type1-pagination-btn .type1-pagination-btn-text {
  font-size: var(--fs-en-page-type1-prev);
  color: #bab9b9;
  margin-top: 0.25rem;
}

.page-type1-pagination .page-type1-pagination-btn.active svg {
  fill: #ffdb96;
}

.page-type1-pagination .page-type1-pagination-btn.active .type1-pagination-btn-text {
  font-size: var(--fs-en-btn-next);
  color: #ffdb96;
}

.page-type1-pagination .page-type1-pagination-btn:hover svg {
  fill: #ffdb96;
}

.page-type1-pagination .page-type1-pagination-btn:hover .type1-pagination-btn-text {
  color: #ffdb96;
}

/* ===== page type1 list area ===== */
.page-type1-list-content {
  font-family: "Noto Sans TC";
  font-size: var(--fs-cn-page-type1-content);
  border: #ffffff 1px solid;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.page-type1-list-content > div {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  /* ==================== 全域 ==================== */
  /* ===== view ===== */
  .m-view {
    display: none;
  }
  .pc-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* ==================== 常用 ==================== */
  /* ===== page header ===== */
  .page-type1-header .page-type1-header-img {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    top: unset;
    bottom: 18%;
    max-width: 40rem !important;
  }
  .page-type1-header .page-type1-header-img-mask {
    background-color: transparent;
  }
  /* ===== page title  ===== */
  .page-type1-area-title {
    margin-bottom: 3rem;
  }
  /* ===== page pagination  ===== */
  .page-type1-pagination {
    max-width: 15rem;
  }
  /* ===== page type1 list area ===== */
  .page-type1-list-wraper > div > div:nth-child(1) {
    width: 28% !important;
    text-align: center;
  }
  .page-type1-list-wraper > div > div:not(:nth-child(1)) {
    width: 18% !important;
    text-align: center;
  }
  .page-type1-list-wraper .page-type1-list-title {
    font-family: "Noto Serif TC";
    font-size: var(--fs-cn-page-type1-content);
    border-top: #ffffff 3px solid;
    border-bottom: #ffffff 3px solid;
    padding: 0.5rem;
  }
  .page-type1-list-wraper .page-type1-list-content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: #ffffff 1px solid !important;
    margin-bottom: 0;
    padding: 1rem 0.5rem;
  }
  .page-type1-list-wraper .page-type1-list-content > div {
    margin: 0.5rem;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #1c1a20;
}

/* .section_title{
    position: relative;
    background: url(images/prolist_background.png);
    min-height:26vh ;  
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 
  } */
.section_title {
  position: relative;
}

.section_title .background_img {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.section_title .background_img img {
  -o-object-fit: cover;
     object-fit: cover;
  /* height: 100%; */
  width: 100%;
}

.section_title .title_sub {
  position: absolute;
  top: 10%;
  left: 25%;
  font-family: "Playfair Display";
  font-weight: lighter;
  font-size: var(--font-base);
  font-size: var(--fs-cn-page-list-title-sm);
  color: #bab9b9;
}

.section_title .title_sub .title_line {
  border-bottom: solid 0.1rem #bab9b9;
  width: 1rem;
  height: .7rem;
  margin: 0 1.5rem;
}

.section_title .title_major {
  position: absolute;
  top: 20%;
  left: 20%;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: var(--fs-cn-page-list-title-lg);
  color: #ffffff;
  z-index: 1;
}

.section_title .title_major .title_major_btn {
  margin: 0 1.5rem;
  padding: 0.1rem 1rem;
  border: solid 0.2rem #ffdb96;
  border-radius: 0%;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: var(--fs-cn-page-list-title-sm);
  color: #ffdb96;
}

.section_title .title_image {
  position: absolute;
  width: 40vw;
  height: 15vh;
}

.section_title .title_image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  top: -130%;
  left: 120%;
}

.section_title .prdlist-pos {
  position: absolute;
  top: 65%;
  right: 18%;
}

.section_title .prdlist-pos .type1-pagination-btn-text {
  display: none;
}

.prdlist_nav {
  margin-top: -1rem;
}

.prdlist_nav .prdlist_nav_a {
  color: #ffffff;
  background-color: #666666;
  font-size: var(--fs-cn-page-list-menu);
  font-family: "Noto Serif TC";
  padding: 1rem 0;
  font-weight: bold;
}

.prdlist_nav .prdlist_nav_a .prdlist_nav-icon {
  padding-right: 0.5rem;
}

.prdlist_nav .prdlist_nav_a:hover {
  color: #565656;
  background-color: #ccc;
}

.prdlist_total {
  font-family: "Noto Sans TC";
  font-size: var(--fs-cn-page-list-title-sm);
  margin-top: 0.5rem;
  font-weight: lighter;
}

.prdlist_total span {
  margin-left: .5rem;
}

.prolist-btn button {
  color: white;
  background-color: #1c1a20;
  border: 0;
}
/*# sourceMappingURL=productList.css.map */