@import '../global/global.scss';
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
//   :root{
//     --spical-color:#FFDB96;
//     --ensub-color: #CCCCCC;
//     --font-color: #FFFFFF;
//     --font-base: 1rem;
//   }
body {
  background-color: $color-bg-dark;
}
/* .section_title{
    position: relative;
    background: url(images/prolist_background.png);
    min-height:26vh ;  
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 
  } */
.section-title {
  position: relative;

  .background-img{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    img {
     object-fit: cover;
     /* height: 100%; */
     width: 100%;
    
   }
  }

  .title-sub {
    position: absolute;
    top: 10%;
    left: 25%;
    font-family: $font-family-en-main;
    font-weight: $font-weight-lighter;
    font-size: var(--font-base);
    font-size:  var(--fs-cn-page-list-title-sm);
    color: $color-font-mark-light; 
    .title-line {
     border-bottom: solid .1rem $color-font-mark-light ;
     width: 1rem;
     height: .7rem;
     margin: 0 $space-4;
  
    }
  }
  .title-major {
    position: absolute;
    top: 20%;
    left: 20%;
    font-family: $font-family-en-main;
    font-weight: $font-weight-bold ;
    font-size: var(--fs-cn-page-list-title-lg);
    color: $color-font;
    z-index: 1;
    .title-major-btn {
      margin: 0 $space-4;
      padding: ($space-base * 0.1) $space-3 ;
      border: solid .2rem $color-font-gold;
      // text-align: center; 
      border-radius: 0%;
      font-family: $font-family-en-main;
      font-weight: $font-weight-bold ;
      font-size:  var(--fs-cn-page-list-title-sm);
      color: $color-font-gold;
    }
  }
  .title-image {
    position: absolute;
    width: 40vw;
    height: 15vh;
     img{
      object-fit: cover;
      height: 100%; 
      width: 100%;
      top: -130%;
      left: 120%;
     
    }
  }
  .prd-pos{
    position: absolute;
    top: 65%;
    right: 18%;
    .type1-pagination-btn-text{
      display: none;
    }
  }
}
.prd-nav{
  margin-top: -$space-3;   
  
  .prd-nav-a{
    color: $color-font;
    background-color:$color-font-mark;
    font-size: var(--fs-cn-page-list-menu) ;
    font-family: $font-family-cn-main;
    padding: $space-3 0;
    font-weight: $font-weight-bold;
    .prd-nav-icon{
      padding-right: $space-2;
    }     
    &:hover{
      color: $color-font-sp ;
      background-color: $color-font-sp-light;

    }
  }
}
.prd-content{
  .prd-total{
    font-family: $font-family-cn-content;
    font-size: var(--fs-cn-page-list-title-sm) ;
    margin-top: $space-2;
    font-weight: $font-weight-lighter;
    span{
      margin-left:.5rem;
    }
  }
  .prd-btn {
    button{
      color: $color-font;
      background-color: $color-bg-dark;
      border: 0;
      font-size: var(--fs-cn-page-list-filter);
      margin-top: $space-1;
      .prd-btn-icondown {
        margin-right: $space-1;
      }
      .prd-btn-iconright{
        margin-left: $space-1;
      }
     
    }
  }
  .card{
    width: 10rem;
    background-color: $color-bg-block;
    
  }
}