@import '../../../assets/scss/_variable.scss';

.w-fit-content {
  width: fit-content;
}
.bg-box {
  width: 100%;
  padding-bottom: $space-5;
  background-color: $color-bg-block;
}
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  display: none;
}
.ant-carousel .slick-dots.slick-dots-bottom {
  margin-left: 0;
  margin-right: 0;
}
.bar-detail-session1 {
  position: relative;
}
.bartending-detail-img-2 {
  display: none;
  position: absolute;
  right: 0;
}
.bar-detail-breadcrumb {
  font-family: $font-family-cn-main;
}
.bar-detail-title {
  font-size: var(--fs-cn-home-title-md) !important;
  font-family: $font-family-cn-main;
  color: $color-font-gold;
}
.bar-detail-title-type1 {
  font-size: var(--fs-cn-page-type1-title-md) !important;
  font-family: $font-family-cn-main;
  border-bottom: 0.1rem solid $color-font-sp;
}
.bar-detail-tag {
  font-size: var(--fs-en-page-type1-title-sm);
  font-family: $font-family-en-main;
  > span {
    margin-right: 1rem;
    font-size: var(--fs-cn-footer-content);
  }
}
.bar-detail-text {
  font-size: var(--fs-cn-home-content);
  font-family: $font-family-cn-content;
}
.bar-detail-text-sp {
  font-size: var(--fs-cn-home-content);
  font-family: $font-family-cn-content;
  margin-left: 2rem;
}
.bar-detail-text-type1 {
  font-size: var(--fs-cn-home-content);
  font-family: $font-family-cn-content;
  border-bottom: 0.1rem solid $color-font-sp;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.bar-detail-second-text {
  text-align: end;
}
.text-black {
  font-size: var(--fs-cn-home-content) !important;
  font-family: $font-family-cn-main;
}

.prd-detail-box-1 {
  width: 30%;
  height: 13vh;
  border: 3px solid $color-font-gold;
  border-radius: 10px;
}
.prd-detail-box-text1 {
  text-align: center;
  font-size: var(--fs-en-page-type1-title-sm);
  font-family: $font-family-en-content;
  color: $color-font-gold;
}
.prd-detail-box-text2-bg {
  background-color: $color-font-gold;
  height: 2.4rem;
  line-height: 2.4rem;
  span {
    width: 10px;
    height: 10px;
    background: $color-font-gold;
    -webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -90%);
  }
}
.prd-detail-box-text2 {
  text-align: center;
  font-size: var(---fs-cn-page-type1-title-md);
  font-family: $font-family-cn-content;
  color: black;
}
.bar-detail-evaluation-bg {
  border: 1px solid #ffffff16;
  background-color: #ffffff09;
}
.bar-detail-evaluation-bg-sp {
  border: 1px solid #ffffff16;
  background-color: #ffffff09;
  position: relative;
}
.bar-detail-evaluation-bg-3 {
  border: 1px solid #ffffff16;
  background-color: #ffffff09;
  margin-bottom: 8rem;
}
.bar-detail-space {
  margin-bottom: 1.5rem;
  padding: 1rem;
}
.bartending-detail-img-3 {
  width: 50%;
  position: absolute;
  opacity: 0.7;
}
.bartending-detail-img-4 {
  width: 50%;
  opacity: 0.7;
  bottom: 0;
  right: 0;
  position: absolute;
}
.star-defaultValue {
  .ant-rate-star.ant-rate-star-full,
  .ant-rate-star-half .ant-rate-star-first {
    svg {
      fill: $color-font-gold;
    }
  }
}

.prd-card {
  // display: none;
  margin: 0 $space-3;
  background-color: $color-bg-block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  .prd-card-image {
    width: 100%;
    height: 60%;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .prd-card-body {
    font-size: var(--fs-cn-page-list-content);
    .prd-card-title {
      width: 110%;
    }
    .prd-card-price {
      top: 1rem;
    }
    .prd-card-footer {
      display: flex;
      justify-content: space-between;
      top: 1rem;
      .prd-card-reveiw {
        color: $color-font-gold;
        right: 1rem;
        display: flex;
        align-items: center;
        .prd-card-icon-star {
          margin-right: 0.2rem;
          width: 14px;
          height: 14px;
        }
      }
      .prd-card-icon {
        display: flex;
        align-items: center;
        color: $color-font-sp-light;
        .prd-card-icon-Heart {
          margin-right: 0.5rem;
          &:hover {
            color: #ac2c32;
            // background-color: #AC2C32;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .bar-detail-breadcrumb {
    // 20px
    font-size: var(--fs-cn-page-type1-content) !important;
  }
  .bar-detail-session1-content-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: $space-6;
    > div:first-child {
      width: 20%;
      .bar-detail-session1-content-block1 {
        width: 100%;
      }
    }
    .bar-detail-session1-content-block2 {
      flex-grow: 1;
      margin: 0 7rem;
      max-width: 50rem;
    }
  }
  .bartending-detail-img-2 {
    display: block;
    position: absolute;
    right: 0;
  }
  .prd-detail-box-1 {
    width: 10%;
  }
  .prd-detail-box-text2-bg {
    height: 2.5rem;
    line-height: 2.5rem;
  }
  .prd-detail-price {
    // 24px
    font-size: var(--fs-cn-home-prdtext) !important;
  }
  .prd-detail-number {
    // 24px
    font-size: var(--fs-cn-home-prdtext) !important;
  }
  .bar-detail-title-type1 {
    // 32px
    font-size: var(--fs-cn-page-type1-title-sp) !important;
  }
  .prd-detail-text-1 {
    // 24px
    font-size: var(--fs-cn-page-type1-content-sp) !important;
  }
  .prd-detail-text {
    // 20px
    font-size: var(--fs-cn-page-type1-content) !important;
  }
  .bar-detail-tag {
    text-align: end;
    > span {
      margin-left: 1rem;
    }
  }
  .bar-detail-text-type1 {
    font-size: var(--fs-cn-home-content);
    font-family: $font-family-cn-content;
    border-bottom: 0.1rem solid $color-font-sp;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .bar-detail-space {
    max-width: 30rem;
  }
  .bartending-detail-img-3 {
    width: 30%;
  }
  .bartending-detail-img-4 {
    width: 30%;
  }
}
