* {
  box-sizing: border-box;
}
/* =============== 針對空間 =============== */
// margin, padding
$space-base: 1rem;
$space-1: $space-base * 0.25;
$space-2: $space-base * 0.5;
$space-3: $space-base;
$space-4: $space-base * 1.5;
$space-5: $space-base * 3;
$space-6: $space-base * 6;

// line-heigt
$line-heght-0: 50%;
$line-heght-1: 100%;
$line-heght-2: 150%;
$line-heght-3: 200%;

// letter-space
$letter-space-base: 1rem;
$letter-space-1: $letter-space-base * 0.1;
$letter-space-2: $letter-space-base * 0.15;

/* =============== 針對顏色 =============== */
/* 背景顏色 : 1C1A20
  背景方塊色 : 131213
  一般字顏色 : FFFFFF
  金色字顏色 : FFDB96
  英文大標顏色 : 666666
  頁面麵包屑顏色 : bab9b9
  輸入空格外框 & 填滿色 : 565656 
  icon顏色 & header 英文字顏色 & prev : CCCCCC
  */
$color-bg-block: #000;
$color-bg-dark: #1c1a20;
$color-bg-light: #131213;
$color-font: #ffffff;
$color-border: #ffffff;
$color-font-gold: #ffdb96;
$color-font-mark: #666666;
$color-font-mark-light: #bab9b9;
$color-font-sp: #565656;
$color-font-sp-light: #ccc;
$color-like: #ac2c32;

/* =============== 針對字形 ===============*/
/* 
  中文重要字體 : Noto Serif TC
  中文內文字體 : Noto Sans TC

  英文重要字體 : Playfair Display
  英文內文字體 : Roboto 
  */
$font-family-cn-main: 'Noto Serif TC';
$font-family-cn-content: 'Noto Sans TC';

$font-family-en-main: 'Playfair Display';
$font-family-en-content: 'Roboto';

$font-weight-lighter: lighter;
$font-weight-normal: normal;
$font-weight-bold: bold;

:root {
  /* =============== 文字大小 =============== */
  /* =============== 手機板  =============== */
  /* fontbase:16px */
  --font-base: 1rem;

  /* =========== 中文 =========== */
  /* 首頁
  內文 : 16px   
  產品文字 : 16px  
  中標 : 24px   
  大標 : 32px 
  */
  --fs-cn-home-content: var(--font-base);
  --fs-cn-home-prdtext: var(--font-base);
  --fs-cn-home-title-md: calc(var(--font-base) * 1.5);
  --fs-cn-home-title-lg: calc(var(--font-base) * 2);

  /* 會員、揪團  (type1)
  內文 : 16px 
  選單 : 20px  
  中標 : 20px   
  大標 : 32px
  重要說明內文 : 16px
  重要說明標題 : 24px
  */
  --fs-cn-page-type1-content: var(--font-base);
  --fs-cn-page-type1-menu: calc(var(--font-base) * 1.25);
  --fs-cn-page-type1-title-md: calc(var(--font-base) * 1.25);
  --fs-cn-page-type1-title-lg: calc(var(--font-base) * 2);
  --fs-cn-page-type1-content-sp: var(--font-base);
  --fs-cn-page-type1-title-sp: calc(var(--font-base) * 1.5);

  /*商品列表
    選單:16px
    篩選文字:14px
    產品文字:14px
    酒譜材料: 12px
  */
  --fs-cn-page-list-menu: var(--font-base);
  --fs-cn-page-list-filter: calc(var(--font-base) * 0.875);
  --fs-cn-page-list-content: calc(var(--font-base) * 0.875);
  --fs-cn-page-list-material: calc(var(--font-base) * 0.75);

  /* =========== 英文 =========== */
  /* 首頁 
  Next : 13px
  Prev : 13px
  button : 15px   
  內文 : 15px   
  中標 : 14px
  大標 : 24px
  首字母 : 64px
  */
  --fs-en-home-next: calc(var(--font-base) * 0.9375);
  --fs-en-home-prev: calc(var(--font-base) * 0.8125);
  --fs-en-home-btn: calc(var(--font-base) * 0.9375);
  --fs-en-home-content: calc(var(--font-base) * 0.9375);
  --fs-en-home-title-md: calc(var(--font-base) * 0.875);
  --fs-en-home-title-lg: calc(var(--font-base) * 1.5);
  --fs-en-home-title-caption: calc(var(--font-base) * 1.5);

  /* 會員、揪團  (type1)
  內文 : 16px
  小標 : 20px 關於我們的電話、email
  中標 : 32px 關於我們的stayintouch
  大標 : 48px 
  首字母：64px
  */
  --fs-en-page-type1-content: var(--font-base);
  --fs-en-page-type1-title-sm: calc(var(--font-base) * 1.25);
  --fs-en-page-type1-title-md: calc(var(--font-base) * 2);
  --fs-en-page-type1-title-lg: calc(var(--font-base) * 3);
  --fs-en-page-type1-title-caption: calc(var(--font-base) * 4);

  /*商品列表
    小標: 12px
    大標: 20px
  */
  --fs-cn-page-list-title-sm: calc(var(--font-base) * 0.75);
  --fs-cn-page-list-title-lg: calc(var(--font-base) * 1.25);

  /* =========== 元件 =========== */
  /* button 
  小button : 12px
  中button : 16px
  大button : 20px
  Next : 16px
  Prev : 13px
  */

  --fs-cn-btn-sm: calc(var(--font-base) * 0.75);
  --fs-cn-btn-md: var(--font-base);
  --fs-cn-btn-lg: calc(var(--font-base) * 1.25);
  --fs-en-next: var(--font-base);
  --fs-en-prev: calc(var(--font-base) * 0.8125);

  /* header
  選單 : 24px
  小標 : 16px
  內文 : 14px
  數字 : 12px
  Welcome to INJOIN : 16px
  */
  --fs-cn-header-menu: calc(var(--font-base) * 1.5);
  --fs-cn-header-title: calc(var(--font-base) * 1);
  --fs-cn-header-content: calc(var(--font-base) * 0.875);
  --fs-en-header-num: calc(var(--font-base) * 0.75);
  --fs-en-header-slogan: calc(var(--font-base) * 1);

  /* footer 
  主字 : 16px
  內容 : 14px
  */
  --fs-cn-footer-title: var(--font-base);
  --fs-cn-footer-content: calc(var(--font-base) * 0.875);
}

/* ====================== 電腦版  ====================== */
@media screen and (min-width: 768px) {
  :root {
    /* =============== 文字大小 =============== */
    /* =========== 中文 =========== */
    /* 首頁
  內文 : 20px 
  產品文字 : 24px  
  中標 : 36px   
  大標 : 48px */
    --fs-cn-home-content: calc(var(--font-base) * 1.25);
    --fs-cn-home-prdtext: calc(var(--font-base) * 1.5);
    --fs-cn-home-title-md: calc(var(--font-base) * 2.25);
    --fs-cn-home-title-lg: calc(var(--font-base) * 3);

    /* 會員、揪團  (type1)
  內文 : 20px
  選單 : 32px
  中標 : 40px
  大標 : 64px
  重要說明內文 : 24px
  重要說明標題 : 32px
  */
    --fs-cn-page-type1-content: calc(var(--font-base) * 1.25);
    --fs-cn-page-type1-menu: calc(var(--font-base) * 2);
    --fs-cn-page-type1-title-md: calc(var(--font-base) * 2.5);
    --fs-cn-page-type1-title-lg: calc(var(--font-base) * 4);
    --fs-cn-page-type1-content-sp: calc(var(--font-base) * 1.5);
    --fs-cn-page-type1-title-sp: calc(var(--font-base) * 2);

    /* 商品列表
      選單:32px
      篩選文字:24px
      產品文字: 24px
      酒譜材料: 16px
    */
    --fs-cn-page-list-menu: calc(var(--font-base) * 2);
    --fs-cn-page-list-filter: calc(var(--font-base) * 1.5);
    --fs-cn-page-list-content: calc(var(--font-base) * 1.5);
    --fs-cn-page-list-material: calc(var(--font-base) * 1);

    /* =========== 英文 =========== */
    /* 首頁 
  Next : 36px
  Prev : 32px
  button : 32px  
  內文 : 32px   
  中標 : 32px
  大標 : 40px
  首字母 : 128px
  */
    --fs-en-home-next: calc(var(--font-base) * 2.25);
    --fs-en-home-prev: calc(var(--font-base) * 2);
    --fs-en-home-btn: calc(var(--font-base) * 2);
    --fs-en-home-content: calc(var(--font-base) * 2);
    --fs-en-home-title-md: calc(var(--font-base) * 2);
    --fs-en-home-title-lg: calc(var(--font-base) * 2.5);
    --fs-en-home-title-caption: calc(var(--font-base) * 8);

    /* 會員、揪團  (type1)
  內文 : 24px
  小標 : 24px 關於我們的電話、email
  中標 : 48px 關於我們的stayintouch
  大標 : 128px
  首字母：200px
  */
    --fs-en-page-type1-content: calc(var(--font-base) * 1.5);
    --fs-en-page-type1-title-sm: calc(var(--font-base) * 1.5);
    --fs-en-page-type1-title-md: calc(var(--font-base) * 3);
    --fs-en-page-type1-title-lg: calc(var(--font-base) * 8);
    --fs-en-page-type1-title-caption: calc(var(--font-base) * 12.5);

    /* 商品列表
      小標 : 16px
      大標 : 64px
    */
    --fs-cn-page-list-title-sm: calc(var(--font-base) * 1);
    --fs-cn-page-list-title-lg: calc(var(--font-base) * 4);

    /* =========== 元件 =========== */
    /* button 
    小button : 20px
    中button : 24px
    大button : 32px
    Next : 32px
    Prev : 24px
    */
    --fs-cn-btn-sm: calc(var(--font-base) * 1.25);
    --fs-cn-btn-md: calc(var(--font-base) * 1.5);
    --fs-cn-btn-lg: calc(var(--font-base) * 2);
    --fs-en-btn-next: calc(var(--font-base) * 1.75);
    --fs-en-btn-prev: calc(var(--font-base) * 1.5);

    /* header
    選單 : 64px
    小標 : 24px
    內文 : 24px
    數字 : 32px
    Welcome to INJOIN : 32px
    */
    --fs-cn-header-menu: calc(var(--font-base) * 4);
    --fs-cn-header-title: calc(var(--font-base) * 1.5);
    --fs-cn-header-content: calc(var(--font-base) * 1.5);
    --fs-en-header-num: calc(var(--font-base) * 2);
    --fs-en-header-slogan: calc(var(--font-base) * 2);

    /* footer  
  主字 : 24px
  內容 : 20px
  */
    --fs-cn-footer-title: calc(var(--font-base) * 1.5);
    --fs-cn-footer-content: calc(var(--font-base) * 1.25);
  }
}

@mixin cn-list-content {
  font-family: $font-family-cn-content;
  font-size: var(--fs-cn-page-type1-content);
}
@mixin cn-list-main {
  font-family: $font-family-cn-main;
  font-size: var(--fs-cn-page-type1-content);
}
