* {
  box-sizing: border-box;
}
:root {
  /* =============== 針對顏色 =============== */
  /* 背景顏色 : 1C1A20
背景方塊色 : 131213
一般字顏色 : FFFFFF
金色字顏色 : FFDB96
英文大標顏色 : 666666
icon顏色 & header 英文字顏色 & prev : CCCCCC
輸入空格外框 & 填滿色 : 565656 */
  --color-bg-dark: #1c1a20;
  --color-bg-light: #131213;
  --color-font: #ffffff;
  --color-font-gold: #ffdb96;
  --color-font-mark: #666666;
  --color-font-sp: #565656;

  /* =============== 針對字形 ===============*/
  /* 中文重要字體 : Noto Serif TC
中文內文字體 : Noto Sans TC

英文重要字體 : Playfair Display
英文內文字體 : Roboto */
  --font-family-cn-mian: Noto Serif TC;
  --font-family-cn-content: Noto Sans TC;
  --font-family-cn-footer-main: blod;
  --font-family-cn-footer-content: Regular;

  --font-family-en-main: Playfair Display;
  --font-family-en-content: Roboto;

  /* =============== 文字大小 =============== */

  /* =============== 手機板 -m =============== */
  /* 中文字型大小 : 
內文 : 16px   
中標 : 24px   
大標 : 32px
footer字形大小:
主字 : 16px blod
內容 : 14px Regular

英文字型大小 :
Next & Prev : 13px
button & 內文 : 15px   
中標 : 14px
大標 : 24px
首字母 : 64px */
  --font-size-m-cn-content: 16px;
  --font-size-m-cn-md: 24px;
  --font-size-m-cn-lg: 32px;
  --font-size-m-cn-footer-main: 16px;
  --font-size-m-cn-footer-content: 14px;

  --font-size-m-en-page: 13px;
  --font-size-m-en-button: 16px;
  --font-size-m-en-md: 14px;
  --font-size-m-en-lg: 24px;
  --font-size-m-en-st: 64px;
  /* =============== 電腦版 -pc =============== */
  /* 首頁內文 : 20px 
首頁產品文字 & 說明文字1 : 24px  
首頁中標 : 36px   
首頁大標 : 48px

其他分頁內文 : 20px
其他分頁重要說明內文 : 24px
其他分頁重要說明標題 : 32px
其他分頁中標 : 40px
其他分頁選單 : 32px
其他分頁大標 : 64px

小button : 20px
大button : 32px

footer 字形大小 :
主字 : 24px blod
內容 : 20 px Regular */
  --font-size-pc-cn-main-content: 20px;
  --font-size-pc-cn-main-caption: 24px;
  --font-size-pc-cn-main-md: 35px;
  --font-size-pc-cn-main-lg: 48px;

  --font-size-pc-cn-other-content: 20px;
  --font-size-pc-cn-other-sp-title: 32px;
  --font-size-pc-cn-other-sp-content: 24px;
  --font-size-pc-cn-other-list: 32px;
  --font-size-pc-cn-other-md: 40px;
  --font-size-pc-cn-other-lg: 64px;

  --font-size-pc-cn-other-smbtn: 20px;
  --font-size-pc-cn-other-lgbtn: 32px;

  --font-size-pc-cn-other-footer-main: 24px;
  --font-size-pc-cn-other-footer-content: 20px;
}
