@import '../../../assets/scss/_variable.scss';

@mixin cn-list-content {
  font-family: $font-family-cn-content;
  font-size: var(--fs-cn-page-type1-content);
}

// page-group-intro-area
.page-group-intro-area {
  @include cn-list-content();
  display: flex;
  flex-flow: column;
  margin-bottom: $space-5;

  .group-list-img-1 {
    width: 40%;
  }
  .page-group-intro-content {
    .page-group-intro-text {
      padding: $space-2;
      > div {
        padding: $space-1;
        width: 80%;
      }
    }
  }
}

.bg-square {
  background-color: $color-bg-light;
  position: absolute;
  width: 80%;
  height: 100%;
  right: 0;
}
// user-add-group-area
.user-add-group-area {
  margin-bottom: $space-5;
  .group-list-img-3 {
    width: 60%;
    margin-left: auto;
  }
}
.user-add-group-contents {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.user-add-aboutus-content-text {
  // @include cn-list-content;
  font-weight: $font-weight-lighter;
  font-family: $font-family-cn-content;
  margin-bottom: $space-3;
  line-height: $line-heght-3;
}
.user-add-group-content-btn {
  width: fit-content;
  border: 1px $color-border solid;
  margin: auto;

  button {
    padding: $space-1 $space-3;
    font-family: $font-family-cn-main;
    font-size: var(--fs-cn-btn-lg);
    color: $color-font-gold;
  }
}

.box-1 {
  width: 40%;
  height: 40vh;
  background-color: $color-bg-light;
  position: absolute;
  right: 0;
  bottom: 1rem;
}
.about-us-img-1 {
  margin-left: auto;
  width: 70%;
  height: 30vh;
  margin-top: $space-3;
  margin-bottom: $space-4;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.about-us-img-2 {
  margin-right: auto;
  width: 70%;
  height: 40vh;
  margin-top: $space-5;
  margin-bottom: $space-5;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.about-us-img-3 {
  margin-left: auto;
  width: 70%;
  height: 30vh;
  margin-top: $space-3;
  margin-bottom: $space-4;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.box-2 {
  width: 80%;
  height: 50vh;
  background-color: $color-bg-light;
  position: absolute;
  left: 0;
  margin-top: $space-6;
}
.sesion2 {
  margin-bottom: 7rem;
}

@media screen and (min-width: 768px) {
  .page-group-intro-area {
    @include cn-list-content();
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: unset;
    .group-list-img-1 {
      width: 30%;
      margin-top: $space-6;
    }

    .page-group-intro-content {
      display: flex;
      flex-flow: row;
      width: 55%;
      background-color: $color-bg-light;
      .page-group-intro-text {
        flex-grow: 1;
        > div {
          padding: $space-1;
          width: 80%;
        }
      }
    }
  }

  .activity-list.mode-user {
    .page-type1-area-title {
      margin-left: 50%;
    }
  }

  .square-area {
    margin-top: -4rem;
  }

  .bg-square {
    width: 98%;
    z-index: -10;
  }

  .user-add-group-area {
    display: flex;
    .group-list-img-3 {
      order: 2;
      width: 40%;
    }
  }
  .about-us-session1 {
    .user-add-aboutus-content-text {
      width: 60%;
    }
  }
  .user-add-aboutus-content-text {
    font-size: var(--fs-en-page-type1-title-sm);
    font-family: $font-family-cn-content;
    line-height: $line-heght-3;
  }
  .user-add-group-content {
    width: 80%;
    display: flex;
    padding: $space-3;
    .user-add-group-content-btn {
      min-width: fit-content;
      margin-right: unset;
      margin-left: auto;
    }
    &.rtl {
      > *:last-child {
        order: -1;
        margin-left: unset;
        margin-right: auto;
      }
    }
  }
  .box-1 {
    width: 900px;
    height: 500px;
    background-color: $color-bg-light;
    position: absolute;
    right: 5%;
  }
  .about-us-img-1 {
    width: 500px;
    height: 400px;
    margin-top: $space-6;
  }
  .about-us-img-2 {
    margin-right: auto;
    width: 45%;
    height: 60vh;
    margin-top: $space-5;
    margin-bottom: $space-5;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .about-us-img-3 {
    margin-left: auto;
    width: 40%;
    height: 40vh;
    margin-top: $space-3;
    margin-bottom: $space-4;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .box-2 {
    width: 80%;
    height: 50vh;
    background-color: $color-bg-light;
    position: absolute;
    left: 0;
    margin-top: $space-6;
  }
  .about-us-session2-content-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .about-us-session2-content-block1 {
      order: -1;
      width: 50%;
    }
    .about-us-session2-content-block2 {
      order: -2;
      width: 40%;
    }
    .about-us-session2-content-block3 {
      width: 50%;
      padding-top: $space-5;
      padding-right: $space-4;
    }
    .about-us-session2-content-block4 {
      width: 40%;
      padding-top: $space-4;
    }
  }
}
