@import '../../../assets/scss/global.scss';

.signuppage {
  // display: none;
  margin-top: $space-3;
  padding: $space-3 $space-2;
  background: $color-bg-block;
  .signuptitle {
  }
  .signupcard {
    background-color: $color-bg-dark;
    padding: $space-3;
  }
  .login {
    text-align: center;
    span {
      color: $color-font-gold;
    }
  }
}
.notice {
  text-align: center;
  color: $color-font-gold;
}

@media screen and (min-width: 768px) {
  .signuppage {
    padding: $space-3 $space-4;
    .signuptitle {
    }
    .signupcard {
      // display: none;
      background-color: $color-bg-dark;
      padding: $space-3 20vw;
    }
    .login {
      text-align: center;
      .loginformpart{
        margin: $space-5 0;
      }
      span {
        color: $color-font-gold;
      }
    }
  }
  .notice {
    text-align: center;
    color: $color-font-gold;
    line-height: $space-5;
  }
}
