@import '../../../assets/scss/_variable.scss';

// ------order-status------
.order-status-wraper {
  margin-bottom: $space-4;
  width: 100%;
}
.order-status {
  font-size: var(--fs-en-page-type1-title-sm);
  font-family: $font-family-cn-main;
  overflow: auto;
  flex-wrap: nowrap !important;
  li {
    margin-right: $space-3;

    a {
      white-space: nowrap;
    }
  }
}
.nav-select {
  color: $color-font;
  margin-right: 10px;
  &:hover {
    border-bottom: $color-border 1px solid;
  }
}

// ------Order-List------
.order-list {
  .list-content_order_num {
    order: 1;
    width: 50%;
    text-align: start;
  }
  .list-content_order_time {
    font-weight: $font-weight-lighter;
    font-family: $font-family-cn-content;
    font-size: var(--fs-en-page-type1-content);
    order: 3;
    width: 100%;
  }
  .list-content_order_status {
    font-weight: $font-weight-lighter;
    order: 2;
    width: 50%;
    text-align: end;
  }
  .list-content_order_pay {
    order: 4;
    width: 50%;
    color: $color-font-gold;
  }
  .list-content_order_total {
    order: 5;
    width: 50%;
    color: $color-font-gold;
  }
  .list-content_btn {
    order: 6;
    width: 100%;
    text-align: end;
    font-family: $font-family-cn-main;
  }
}

@media screen and (min-width: 768px) {
  // ------order-status------
  .order-status-wraper {
    margin-bottom: $space-4;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    .order-status{
      width: 60%;
      display: flex;
      justify-content: space-between;
    }
  }

  // ------Order-List------
  .order-list {
    .page-type1-list-content {
      border: unset;
      > div {
        margin-bottom: 0;
      }
    }
    .list-content_order_num {
      order: 1;
    }
    .list-content_order_time {
      order: 2;
    }
    .list-content_order_statu {
      order: 3;
    }
    .list-content_order_pay {
      order: 4;
    }
    .list-content_order_total {
      order: 5;
    }

    .list-content_btn {
      order: 6;
      text-align: center;

      a {
        background-color: $color-bg-block;
        width: fit-content;
        padding: $space-1;
        &:hover {
          border: $color-border 1px solid;
        }
      }
    }
  }
}