@import '../../../assets/scss/_variable.scss';

.step-status {
  @include cn-list-content();
  width: 50%;
  margin: 0 auto;
}
.ant-collapse-header-text {
  @include cn-list-main();
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 30px;
  @include cn-list-content();
}

.order-detail-info-bg-square {
  width: 100%;
  background-color: $color-bg-block;
  padding: $space-3;
}
.page-type1-list-section {
  width: 100%;
  height: 100%;

  @include cn-list-content();
  .listdetail-card-bg {
    width: 100%;
    height: 15vh;
    background-color: $color-font-sp;
    display: flex;
    justify-content: space-around;

    .list-content_orderdetail_sm_img {
      display: flex;
      width: 35%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      padding: $space-1;
      img {
        width: 100%;
      }
    }

    .listdetail-card-context {
      width: 65%;
      height: 100%;
      position: absolute;
      right: 0;
      padding: 0;
    }

    .list-content_orderdetail_num {
      display: flex;
    }
    .list-content_orderdetail_name {
      width: 60%;
      margin-bottom: $space-3;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      
    }
    .list-content_orderdetail_number {
      width: 100%;
      display: block;
      text-align: end;
      padding: 0 $space-4;
    }
    .list-content_orderdetail_total {
      width: 100%;
      display: block;
      text-align: end;
      padding: 0 $space-4;
    }
  }
}
.summary-section {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: $space-3;
}

// orderdetail-list

@media screen and (min-width: 768px) {
  .step-status {
    display: flex;
    text-align: left;
    margin-left: 0;
  }
  .order-detail-info-bg-square {
    width: 100%;
    background-color: $color-bg-block;
    padding: $space-3;
  }
  .page-type1-list-section {
    width: 100%;
    // height: 18vh;
    .listdetail-card-bg {
      width: 100%;
      height: 18vh;
      background-color: $color-font-sp;
      display: flex;
      .listdetail-card-context {
        width: 100%;
        display: flex;
        justify-content: space-around;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 18vh;
          flex: 1 1 100px;
        }
        .list-content_orderdetail_num {
          width: 20%;
          flex: 2 1 100px;
          // margin-right: 2rem;
        }
      }
    }
  }
}

.list-content_orderdetail_name,
.list-content_orderdetail_price {
  width: 20%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.list-content_orderdetail_number,
.list-content_orderdetail_total {
  display: flex;
  text-align: center;
  // line-height: 800%;
}

.list-content_orderdetail_img {
  width: 20%;
  height: 20%;

  img {
    width: 100%;
    height: 100%;
    padding: $space-2;
    object-fit: contain;
  }
}
.summary-section {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: $space-2 $space-4;
}
