@import '../../../assets/scss/global.scss';

.step-status {
  width: 50%;
  margin: 10px;
  text-align: left;
}

.page-type1-list-section {
  width: 100%;
  @include cn-list-content();
  .listdetail-card-bg {
    width: 100%;
    height: 100%;
    background-color: $color-bg-block;

    .listdetail-card-context {
      width: 65%;
      position: absolute;
      right: 0;
      padding: 0;

      .list-content_orderdetail_num {
        display: flex;
      }
      .list-content_orderdetail_name {
        width: 100%;
        // display: flex;
        // justify-content: center;
      }
      .list-content_orderdetail_number {
        text-align: end;
        padding: 5px 30px;
      }
      .list-content_orderdetail_total {
        text-align: end;
        padding: 5px 20px;
      }
    }
  }
}

.list-content_orderdetail_img {
  width: 30%;
  height: 30%;
  object-fit: contain;
  margin: 0;
  // padding: 10px;
}

// orderdetail-list

@media screen and (min-width: 768px) {
  .page-type1-list-section {
    width: 100%;
    .listdetail-card-bg {
      width: 100%;
      height: 20vh;
      background-color: #ccc;
      padding-bottom: 10px;
      .listdetail-card-context {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
      }

      .list-content_orderdetail_img {
        width: 30%;
        height: 30%;

        img {
          width: 100%;
          height: 100%;
          padding: 10px;
          object-fit: contain;
        }
      }
    }
  }
}
