@import '../../../assets/scss/_variable.scss';

.cart-area {
  @include cn-list-content();

  .cart-step-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: $space-2;
  }

  .cart-step {
    border: 1px solid transparent;
    background: $color-border-gray;
    border-radius: 5px;
    margin: $space-1;

    .step-left {
      padding: 0px;
      width: 100%;
      font-size: 20px;
    }
    .step-right {
      padding: 0;
      width: 100%;
      font-weight: $font-weight-lighter;
      font-family: $font-family-cn-content;
      font-size: var(--fs-en-page-type1-content);
      display: flex;
      justify-content: center;
    }
  }
  .cart-prd-bg-area {
    padding: 20px;
    .cart-prd-content {
      width: 100%;
      background: $color-bg-light;
      padding: 20px;
    }
  }
}

.cart-prd-info-content {
  width: 100%;
  .faverite-product-img-1 {
    width: 30%;
    height: 30%;
    overflow: hidden;
    .cart-detail-prd-content {
      width: 40%;
    }
  }
}
.prd-number-content {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-line {
  border-bottom: 1px solid#ccc;
  margin: 10px -10px;
}

//電腦版
@media screen and (min-width: 768px) {
  .cart-step-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    // padding: $space-4;
    .cart-step {
      border: 1px solid transparent;
      background: $color-border-gray;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      margin: 10px;
      padding: 20px;

      .step-left {
        padding: $space-2;
        width: 30%;
        font-size: var(--fs-cn-page-type1-menu);
        display: flex;
        justify-content: start;
      }
      .step-right {
        padding: 0;
        width: 100%;
        font-weight: $font-weight-lighter;
        font-family: $font-family-cn-content;
        font-size: var(--fs-en-page-type1-content);
        display: flex;
        justify-content: start;
      }
    }
  }
}
