@import '../../../assets/scss/_variable.scss';

.cart-area {
  @include cn-list-content();

  .cart-step-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: $space-2;

    .cart-step {
      border: 1px solid transparent;
      background: $color-border-gray;
      border-radius: 5px;
      margin: $space-1;

      .step-left {
        padding: 0px;
        width: 100%;
        font-size: 20px;
      }
      .step-right {
        padding: 0;
        width: 100%;
        font-weight: $font-weight-lighter;
        font-family: $font-family-cn-content;
        font-size: var(--fs-en-page-type1-content);
        display: flex;
        justify-content: center;
      }
    }
    .cart-step2 {
      background: $color-font-gold;
    }
  }
  .cart-prd-bg-area {
    padding: 20px;
    .cart-prd-content {
      width: 100%;
      background: $color-bg-light;
      padding: 20px;
    }
  }

  .cart-prd-info-content {
    width: 100%;
    padding: 0;
    .img-content {
      width: 30%;
      height: 30%;
      object-fit: contain;
      overflow: hidden;
      margin: 10px 0;
      .faverite-product-img-1 {
        width: 100%;
      }
      .cart-detail-prd-content {
        width: 100%;
      }
    }
  }
  .prd-number-content {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottom-line {
    border-bottom: 1px solid#ccc;
    margin: 0 -10px;
  }
  .cart-user-bg-area {
    padding: 0 20px;
    .cart-user-content {
      width: 100%;
      background: $color-bg-light;
      padding: 20px;
    }
  }
  .cart-pay-bg-area {
    padding: 20px;
    .cart-pay-content {
      width: 100%;
      background: $color-bg-light;
      padding: 20px;
    }
  }
}

//電腦版
@media screen and (min-width: 768px) {
  .cart-area {
    @include cn-list-content();
    .cart-step-content {
      display: flex;
      justify-content: space-between;
      text-align: center;
      // padding: $space-4;
      .cart-step {
        border: 1px solid transparent;
        background: $color-border-gray;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        margin: 10px;
        padding: 20px;

        .step-left {
          padding: $space-2;
          width: 30%;
          font-size: var(--fs-cn-page-type1-menu);
          display: flex;
          justify-content: start;
        }
        .step-right {
          padding: 0;
          width: 100%;
          font-weight: $font-weight-lighter;
          font-family: $font-family-cn-content;
          font-size: var(--fs-en-page-type1-content);
          display: flex;
          justify-content: start;
        }
      }
      .cart-step2 {
        background: $color-font-gold;
      }
    }

    .cart-prd-bg-area {
      padding: 50px;
      .cart-prd-content {
        padding: 50px;
        .cart-prd-info-content {
          padding: 5px;
          .img-content {
            max-width: 15%;
            height: 80%;
            object-fit: contain;
            overflow: hidden;
            margin: 0px;
            img {
              width: auto;
              height: 120px;
            }
          }
          .cart-detail-prd-content {
            width: 100%;
            margin: 10px;
          }
        }
      }
    }
    .bottom-line {
      border-bottom: 1px solid#ccc;
      margin: -5px;
    }

    .cart-user-bg-area {
      padding: 0 50px;
      .cart-user-content {
        width: 100%;
        padding: 40px;
        .ant-form {
          width: 50%;
          margin: 0 auto;
          .ant-form-item-label {
            width: 5rem;
            margin: 0 auto;
            .ant-select-selector {
              height: 30%;
            }
            .ant-select-arrow {
              width: 1rem;
              height: auto;
              font-size: 1rem;
            }
          }
        }
      }
    }
    .cart-pay-bg-area {
      padding: 0 50px;
      margin-top: 50px;
      .cart-pay-content {
        width: 100%;
        padding: 40px;
        .ant-form {
          width: 50%;
          margin: 0 auto;
          .ant-form-item {
            width: 100%;
            .ant-form-item-label {
              width: 5rem;
              justify-self: start;
            }
            .ant-form-item-control {
              // width: 100%;
              display: flex;
              align-items: start;
            }
            .ant-select-arrow {
              width: 1rem;
              height: auto;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
