@import '../../../assets/scss/_variable.scss';

.user-add-group-content-wraper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  > div:last-child {
    width: 80%;
  }
  .bg-square-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-bg-block;
    left: -15%;
    bottom: -15%;
  }
  .user-add-group-content {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    .user-add-group-content-text {
      font-family: 'Noto Serif TC';
      font-size: var(--fs-cn-page-type1-content);
      font-weight: $font-weight-lighter;
      margin-bottom: $space-3;
    }
  }
}
.my-group-list-wraper {
  .list-content_time,
  .list-content_place {
    order: -1;
  }
  .list-content_time {
    font-weight: $font-weight-lighter;
    font-size: 0.875rem;
  }
  .list-content_place {
    svg {
      fill: $color-like;
    }
  }
  .list-content_activity-name {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: $space-2;
    margin-bottom: $space-4;
    width: 100%;
  }
  .list-content_status {
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
      background-color: $color-font-mark-light;
      color: $color-bg-block;
      padding: 0 $space-2;
      border-radius: 15px;
      font-size: var(--fs-cn-page-list-material);
      width: fit-content;
    }
  }
  .list-content_btn {
    padding: 0 $space-2;
  }
  .list-content_btn svg:hover {
    cursor: pointer;
    color: $color-font-gold;
  }
}
.member-group-list-area {
  padding: $space-2 0;
  .bg-square-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $color-bg-block;
  }
  .bg-square-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-bg-block;
  }
  .ant-tabs-card {
    margin-bottom: $space-5;
    .ant-tabs-nav {
      margin-bottom: 0;
    }
    > .ant-tabs-nav .ant-tabs-tab-active,
    > div > .ant-tabs-nav .ant-tabs-tab-active,
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
    .ant-tabs-tab:hover {
      color: $color-font-gold;
      font-family: $font-family-cn-main;
      font-size: var(--fs-cn-page-type1-content);
      font-weight: $font-weight-lighter;
    }
  }
  .ant-tabs-content-holder {
    background-color: $color-bg-light;
    padding: $space-4 $space-2;
  }
}
@media screen and (min-width: 768px) {
  .user-add-group-content-wraper {
    width: 80%;
    margin: auto;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    > div:last-child {
      width: 40%;
      order: -1;
    }
  }
  .member-group-list-area {
    .page-type1-list-wraper {
      .page-type1-list-title.pc-view {
        > div {
          margin: 0px 7px;
        }
      }
      > div {
        > div:first-child {
          width: 25% !important;
          text-align: center;
        }
        > div:nth-child(2) {
          width: 25% !important;
          text-align: center;
          font-size: 1rem;
        }
        > div:not(:nth-child(1), :nth-child(2)) {
          width: 10% !important;
          text-align: center;
        }
        > div.list-content_btn {
          width: unset !important;
          flex-grow: 1 !important;
          text-align: center;
        }
      }
    }
  }
  .my-group-list-wraper {
    .list-content_time,
    .list-content_place {
      order: 0;
    }
    .list-content_activity-name {
      -webkit-line-clamp: 1;
      width: 20%;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .member-group-list-area {
    .bg-square-2 {
      width: 87%;
    }
    .bg-square-3 {
      width: 87%;
    }
    .ant-tabs {
      margin-top: -3.5rem;
    }
  }
}
