@import '../../assets/scss/_variable.scss';

.Bartending-card-col {
  display: flex;
  .Bartending-card {
    // height: 80%;
    background-color: $color-bg-block;
    margin-top: $space-3;
    margin-bottom: $space-2;
    padding: 0 0 $space-3 0;
    flex-grow: 1;
    .Bartending-card-image {
      width: 100%;
      height: 20vh;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .Bartending-card-body {
      font-family: $font-family-cn-content;
      font-weight: $font-weight-bold;
      font-size: var(--fs-cn-page-list-menu);
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      padding: $space-2;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: start;
      .Bartending-card-subtitle {
        padding: $space-2 0;
        font-weight: $font-weight-lighter;
        font-size: var(--fs-cn-page-list-material);
        width: 90%;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .Bartending-card-col {
    .Bartending-card {
      .Bartending-card-image {
        width: 100%;
        height: 25vh;
      }
      .Bartending-card-body {
        .Bartending-card-subtitle {
          width: 80%;
        }
      }
    }
  }
  .Bartending-card-title {
    font-size: var(--fs-cn-home-prdtext);
  }
}
