* {
  box-sizing: border-box;
}
:root {
  --sp-color: #ffdb96;
}
.button-style {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--sp-color);
  color: var(--sp-color);
  text-align: center;
  padding: 0.5rem 1rem;
}
.section-title-en {
  position: absolute;
  color: rgba(255, 255, 255, 0.35);
  font-weight: 900;
  z-index: -1;
  font-size: 3rem;
  top: 1rem;
}

// =====section1=======
.section1 {
  position: relative;
  min-height: 100vh;
  background: #1b1b1be6 no-repeat url(../images/pc-1.png);
  background-size: 90vw 95vh;
  .pc-img {
    display: none;
  }
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    min-height: 100vh;
  }

  .s1-position {
    position: absolute;
    right: 7vw;
    text-align: end;
    bottom: 30vh;
    color: white;
  }
  .s1-button {
    padding: 0.2rem 1rem;
  }
  .box {
    z-index: -1;
    background: #000;
    width: 20vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
  }
  .ul-position {
    position: absolute;
    right: 7vw;
    bottom: 10vh;
    ul {
      li {
        a {
          text-decoration: none;
          color: white;
          margin: 0;
          &:hover,
          &.active {
            color: #ffdb96;
          }
        }
      }
    }
  }
}
.section2 {
  min-height: 100vh;
  background: #1b1b1b;
  // background: lightpink;
  position: relative;
  z-index: -2;
  .s2-content {
    position: absolute;
    color: white;
    top: 3rem;
    left: 0.8rem;
    .s2-title-cn {
      color: var(--sp-color);
      margin-bottom: 0.5rem;
    }
    .s2-content-en {
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }
    .s2-content-cn {
      letter-spacing: 0.25rem;
    }
  }
  .s2-img1 {
    position: absolute;
    top: 45vh;

    width: 100vw;
    height: 30vh;
    z-index: 2;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .s2-img2 {
    position: absolute;
    top: 60vh;
    width: 50vw;
    height: 20vh;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (min-width: 768px) {
  // =====section1=======
  .section1 {
    position: relative;
    min-height: 100vh;
    background: #1b1b1be6;
    background-size: 90vw 95vh;
    .pc-img {
      display: flex;
      width: 60vw;
      height: 80vh;
      object-fit: contain;
      top: 500px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .mask {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      width: 100vw;
      min-height: 100vh;
    }

    .s1-position {
      position: absolute;
      right: 7vw;
      text-align: end;
      bottom: 30vh;
      color: white;
      font-size: 4.5rem;
      h3 {
        font-size: 4.5rem;
      }
    }
    .s1-button {
      background-color: rgba(0, 0, 0, 0);
      border: 2px solid #ffdb96;
      color: #ffdb96;
      text-align: center;
      padding: 0rem 5rem;
    }
    .box {
      z-index: -1;
      background: #000;
      width: 20vw;
      height: 100vh;
      position: absolute;
      right: 0;
      top: 0;
    }
    .ul-position {
      position: absolute;
      right: 7vw;
      bottom: 10vh;
      font-size: 2.5rem;
      ul {
        li {
          a {
            text-decoration: none;
            color: white;
            margin: 0 8rem;
            &:hover,
            &.active {
              color: #ffdb96;
            }
          }
        }
      }
    }
  }
}
