@import '../../../assets/scss/global.scss';

.aboutUser-s1 {
  min-height: 50vh;
  background: $color-bg-light;
  .aboutUser-card {
    width: 100%;
    position: relative;
    min-height: 40vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .upper-half {
      position: relative;
      .upper-background {
        width: 100%;
        opacity: 0.5;
      }
      .upper-usericon {
        position: absolute;
        border-radius: 50%;
        border: 1px solid white;
        width: 30%;
        bottom: 0;
        left: 0;
        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .lower-half {
      padding: $space-3 $space-3;
      width: 100%;
      max-height: 40vh;
      font-family: $font-family-cn-main;
      font-size: var(--fs-cn-home-content);

      .lower-part {
        margin: $space-3 0;
        .lower-title {
          width: 30vw;
        }
        .lower-content {
          min-height: 10vh;
          border: 0px solid $color-font-mark-light;
          background: #333;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .aboutUser-s1 {
    .aboutUser-card {
      padding: $space-6 $space-3;
      display: flex;

      .upper-half {
        flex: 1 1 100px;
        position: relative;
        .upper-background {
          width: 100%;
          opacity: 0.5;
        }
        .upper-usericon {
          position: absolute;
          border-radius: 50%;
          border: 1px solid white;
          // width: 30%;
          width: 100px;
          height: 100px;
          bottom: 0;
          left: 0;
          img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .lower-half {
        flex: 2 1 100px;

        .lower-part {
          margin: 0;
          .lower-title {
          }
          .lower-content {
            padding: 0 $space-3;
          }
        }
      }
    }
  }
}
