@import '../../assets/scss/_variable.scss';
.add-prd {
  .form-item {
    width: 100%;
    padding-right: 3rem;
    .ant-form-item-label {
      width: 5rem;
    }
  }
}
@media screen AND (min-width: 768px) {
  .add-prd {
    .form-item {
      width: 50%;
    }
  }
}
