@import '../global/global.scss';

.official-activity-list {
  .page-type1-list-content {
    > div:nth-child(4),
    > div:nth-child(5) {
      margin-bottom: unset;
    }
  }
  .list-cotent_activity-name {
    order: 3;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .list-cotent_time {
    font-weight: $font-weight-lighter;
    font-family: $font-family-cn-content;
    font-size: var(--fs-en-page-type1-content);
    order: 1;
    width: 50%;
  }
  .list-cotent_place {
    font-weight: $font-weight-lighter;
    order: 2;
    width: 50%;
    text-align: end;
  }
  .list-cotent_state {
    order: 4;
    width: 50%;
    color: $color-font-gold;
  }
  .list-cotent_btn {
    order: 5;
    width: 50%;
    text-align: end;
    font-family: $font-family-cn-main;
  }
}
.page-group-intro-area {
  @include cn-list-content();
  display: flex;
  flex-flow: column;

  .group-list-img-1,
  .group-list-img-2 {
    width: 40%;
  }
  .page-group-intro-content {
    .page-group-intro-text {
      padding: $space-2;
      > div {
        line-height: $line-heght-3;
        letter-spacing: $letter-space-2;
      }
    }
    .group-list-img-2 {
      margin-left: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .official-activity-list {
    .page-type1-list-content {
      border: unset;
      > div {
        margin-bottom: 0;
      }
    }
    .list-cotent_activity-name,
    .list-cotent_time,
    .list-cotent_place,
    .list-cotent_state,
    .list-cotent_btn {
      order: 0;
      width: unset;
      text-align: center;
    }
    .list-cotent_activity-name {
      -webkit-line-clamp: 1;
    }
    .list-cotent_btn {
      a {
        background-color: $color-bg-block;
        width: fit-content;
        padding: $space-1;
        &:hover {
          border: $color-border 1px solid;
        }
      }
    }
  }

  .page-group-intro-area {
    @include cn-list-content();
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    .group-list-img-1 {
      width: 30%;
      margin-top: $space-6;
    }

    .page-group-intro-content {
      display: flex;
      flex-flow: row;
      width: 55%;
      background-color: $color-bg-light;
      .page-group-intro-text {
        flex-grow: 1;
        > div {
          margin: auto;
          max-width: 14rem;
          line-height: $line-heght-3;
        }
      }
      .group-list-img-2 {
        width: 50%;
      }
    }
  }
}
